@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Este es un sitio de construcción de aplicaciones web con ASP.NET Core.</p>
    <p>Utiliza el menú de navegación para acceder a las diferentes secciones de la aplicación.</p>
    <p>Derechos reservados por Edwin Mendoza Carrión</p>
    <p>Tesis de Ingeniería de Software</p>
</div>
