@{
    ViewData["Title"] = "Política de Privacidad";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h2 class="mb-4 text-primary text-center">@ViewData["Title"]</h2>

            <p class="lead text-center">
                Esta política detalla cómo se recopila, utiliza y protege la información de los usuarios.
            </p>

            <hr />

            <p>
                Nos comprometemos a proteger su privacidad y garantizar que su información personal se maneje de manera segura. Toda la información recopilada se utiliza únicamente para los fines operativos del sistema y no será compartida con terceros sin su consentimiento explícito.
            </p>

            <p>
                Este sistema forma parte de un proyecto de tesis titulado <strong>"Análisis sobre el impacto de la inteligencia artificial en el desarrollo de software"</strong>, elaborado por <strong>Edwin Mendoza Carrión</strong> como requisito para la titulación en la carrera de Ingeniería de Software.
            </p>

        </div>
    </div>
</div>
