@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
@*Detalla las politicas de privacidad de esta pagina algo derechos reservados para este proyrcto de tesis por Edwin Mendoza*@
<p>Esta es la política de privacidad de nuestro sitio web.</p>
<p>Nos comprometemos a proteger su privacidad y a garantizar que su información personal se maneje de manera segura.</p>
